<div class="auth-layout">
    <div class="auth-box">
        <div>
            <h1>Reset your password</h1>
            <p>or <a href="/login">Login</a></p>
        </div>

        <form class="row g-3" #loginForm="ngForm">
            <div class="col-12">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" required
                    [(ngModel)]="password"
                    [class.invalid]="loginForm.controls['password'] && loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" (click)="resetPassword()" [disabled]="loginForm.invalid">Reset
                    Password</button>
            </div>
        </form>
        
        
        </div>
        </div>