<div class="modal-header">
  <h4 class="modal-title">Privacy Policy</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <h4>Privacy Policy for Helping Pixies</h4>
  <p>Last Updated: [Today's Date]</p>

  <h4>Introduction</h4>
  <p>Welcome to Helping Pixies, a service that aims to connect people who are looking for house cleaning services with
    those who offer them. This Privacy Policy describes how your personal information is collected, used, and shared
    when you visit or make use of our service.</p>

  <h4>Contact Information</h4>
  <p>For privacy-related concerns, you may contact us at:</p>
  <ul>
    <li>Email: yazan@goblackiris.com</li>
    <li>Address: Black Iris Software Solutions Inc, 948 Blakeon Pl, Victoria, BC V9C0R3, Canada</li>
  </ul>

  <h4>Information Collected</h4>
  <p>When you use our service, you may provide us with:</p>
  <ul>
    <li>Email address</li>
    <li>Phone number</li>
    <li>Name (Real or Alias)</li>
    <li>Address and/or Postal Code</li>
    <li>IP addresses (as part of backend logs)</li>
  </ul>
  <p>We do not collect cookies or use analytics and marketing tracking.</p>

  <h4>Purpose of Data Collection</h4>
  <p>The data collected is solely used for the purpose of creating a user experience that enables users to find house
    cleaning services or offer them.</p>

  <h4>Data Storage and Security</h4>
  <p>Your data is stored securely on AWS services and is encrypted to ensure maximum safety.</p>

  <h4>Data Sharing</h4>
  <p>We do not share your personal information with any third-party services or partners.</p>

  <h4>User Rights</h4>
  <p>You have the right to:</p>
  <ul>
    <li>Access the personal information we hold about you.</li>
    <li>Modify or update your personal information.</li>
    <li>Delete your personal information.</li>
  </ul>

  <h4>Opt-Out Policy</h4>
  <p>If you wish to opt out of data collection, you will need to terminate your account and discontinue the use of our
    service.</p>

  <h4>Cookie Policy</h4>
  <p>We do not use cookies. We use JWT tokens that do not store any data.</p>

  <h4>Changes to the Privacy Policy</h4>
  <p>We may update this Privacy P
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-light">Close</button>
</div> -->