  <div class="modal-header">
    <h4 class="modal-title">Privay Policy</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
  </div>
  <div class="modal-body">
    <p>Last Updated: [Today's Date]</p>

  <h4>Introduction</h4>
  <p>Welcome to Helping Pixies, a service by Black Iris Software Solutions Inc, located at 948 Blakeon Pl, Victoria, BC V9C0R3, Canada. These Terms of Service govern your use of our service and website, helping-pixies.com. By using our service, you agree to these terms.</p>

  <h4>Contact Information</h4>
  <p>For any concerns relating to these Terms of Service, you may contact us at:</p>
  <ul>
    <li>Email: yazan@goblackiris.com</li>
    <li>Address: Black Iris Software Solutions Inc, 948 Blakeon Pl, Victoria, BC V9C0R3, Canada</li>
  </ul>

  <h4>Services Provided</h4>
  <p>Helping Pixies connects people who are looking for house cleaning services with those who offer them.</p>

  <h4>User Responsibilities</h4>
  <p>Users are responsible for providing accurate and up-to-date information, including but not limited to:</p>
  <ul>
    <li>Email address</li>
    <li>Phone number</li>
    <li>Name (Real or Alias)</li>
    <li>Address and/or Postal Code</li>
  </ul>

  <h4>Data Storage and Security</h4>
  <p>Your data is stored securely on AWS services and is encrypted to ensure maximum safety.</p>

  <h4>Limitation of Liability</h4>
  <p>We are not liable for any damages, including but not limited to, loss of profit, data, or business interruptions, arising from the use or inability to use our service.</p>

  <h4>Termination</h4>
  <p>We reserve the right to terminate or suspend your account and access to our services for conduct that we determine to be harmful to other users, us, or third parties, or for any breach of these Terms.</p>

  <h4>User Rights</h4>
  <p>Users have the right to access, modify, and delete their information. To exercise these rights, you may contact us at yazan@goblackiris.com.</p>

  <h4>Opt-Out Policy</h4>
  <p>If you wish to opt out of our service, you will need to terminate your account and discontinue the use of our service.</p>

  <h4>Changes to the Terms of Service</h4>
  <p>We may update these Terms of Service from time to time. The date of the last update will always be listed at the top of this page.</p>
  </div>