<div class="auth-layout">
    <div class="auth-box">
      <div class="alert alert-warning" role="alert" *ngIf="returnUrl">
        Please login to complete your booking!
      </div>
        <div>
            <h1>Sign in</h1>
            <p>Don't have an account? <a href="/signup">Let's create one!</a></p>
        </div>
        <div class="mb-5">
            <form class="row g-3" #loginForm="ngForm">
                <div class="col-12">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail" name="email" required  [(ngModel)]="user.email"
                  [class.invalid]="loginForm.controls['email'] && loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
                  >
                </div>
                <div class="col-12">
                  <label for="inputPassword" class="form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword" name="password" required [(ngModel)] = "user.password"
                  [class.invalid]="loginForm.controls['password'] && loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                </div>
                
    
                <div class="col-12">
                  <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>
                </div>


              </form>
        </div>

        <div>
            <p>Forgot your password? <a href="/reset-password">It happens</a></p>
        </div>
        
    </div>
</div>
