@import '../../../assets/stylesheets/booking.css';

i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}

.page-link{
    color: black;
}

.page-item.active > .page-link {
    background-color: orange;
    border-color: orange;
    color: white;
    font-weight: 700;
}

/* For most browsers: Chrome, Edge, and Safari */
input[type="range"]::-webkit-slider-thumb {
    background-color: orange;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
    background-color: orange;
}