<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo" width="80" class="d-inline-block align-text-top">
      </a>
      <div class="d-flex align-items-center">
        
        <div class="dropdown me-3" *ngIf="isLoggedIn;">
          <a class="btn btn-link" href="/conversations"><i class="fa fa-envelope"></i></a>
          <span class="badge bg-danger unread-bage" *ngIf="unread_messages_count">{{ unread_messages_count }}</span>
        </div>



        <div>
          <a *ngIf="!isLoggedIn; else profile" class="btn btn-link me-2" href="/login" role="button">Login</a>
          <ng-template #profile>
            <div class="">
              <button class="btn btn-link p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <div>
                  <ng-container *ngIf="user?.profile_image_url; else noImage">
                      <div class="profile-picture-xs">
                          <img src="{{ user!.profile_image_url }}" alt="Profile Picture" width="30"
                          height="24" class="me-2">
                      </div>
                      
                  </ng-container>
                  <ng-template #noImage>
                      <div class="avatar-circle me-2">
                          {{ user!.name.slice(0,2)| uppercase }}
                      </div>
                  </ng-template>
              </div>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </ng-template>
        </div>   
        
        
      </div>
    </div>
  </nav>