
<div *ngIf="bookings?.length; else noBookings">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="frequency" (sort)="onSort($event)">Frequency</th>
				<th scope="col" sortable="start_at" (sort)="onSort($event)">Start Date</th>
				<th scope="col" sortable="start_at" (sort)="onSort($event)">Start Time</th>
				<th scope="col">{{user_type === 'provider' ? 'Client' : 'Provider'}}</th>
				<th scope="col" sortable="rate" (sort)="onSort($event)">Hourly Rate</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let booking of bookings" (click)="viewBooking(booking)" class="pointer">
				<td>
					{{ utils.getFrequencyTypeAsString(booking.frequency) }}
				</td>
				<td>{{ booking.start_at | date:'dd MMM y'}}</td>
				<td>{{ booking.start_at | date:'h:mm a'}}</td>
				<td>{{ userType === 'client' ? booking.provider.name : booking.client.name }}</td>
				<td>{{ booking.rate }}</td>
				<td (click)="$event.stopPropagation()">
					<div class="btn-group" role="group">
						<button type="button" class="btn dropdown-toggle btn-sm btn-booking-action"
						[class.btn-success]="booking.status == 'active'"
						[class.btn-warning]="booking.status == 'pending'"
						[class.btn-danger]="booking.status == 'cancelled'"
						data-bs-toggle="dropdown" aria-expanded="false">
						  {{ utils.capitalize(booking.status) }}
						</button>
						<ul class="dropdown-menu btn-booking-action">
							<li *ngIf="user_type === 'provider' && booking.status!=='active'"><a class="dropdown-item cursor-pointer" (click)="acceptBooking(booking.id)">Accept</a></li>
							<li><a class="dropdown-item cursor-pointer" (click)="cancelBooking(booking.id)">{{userType === "client" ? 'Cancel' : 'Reject'}}</a></li>
						</ul>
					  </div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #noBookings>
	<div class="text-center">
		You have no bookings yet. <span *ngIf="userType === 'client'">Start by clicking the button above to explore providers around you.</span>
	</div>
</ng-template>


<ng-template #cancelConfirmation let-modal>
	<div class="modal-header">
	  <h4 class="modal-title">Cancel Booking</h4>
	  <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <p>Are you sure you want to cancel this booking?</p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Cancel')">Back</button>
	  <button type="button" class="btn btn-danger" (click)="modal.close('Yes')">Yes, Cancel</button>
	</div>
  </ng-template>
