<div class="auth-layout">
  <!-- Loader -->
  <div *ngIf="isDetecingLocation" class="overlay">
    <div class="loading-dots">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    <div class="auth-box">
        <div>
            <h1>Register</h1>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
        <div>
            <form class="row g-3" #signupForm="ngForm" autocomplete="off" [ngClass]="{'disabled-form': isDetecingLocation}" [attr.disabled]="isDetecingLocation ? true : null">
                <div class="col-12">
                  <label for="inputEmail" class="form-label">Email*</label>
                  <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="user.email" required #emailInput
                  autocomplete="off"
                  [class.invalid]="signupForm.controls['email'] && signupForm.controls['email'].invalid && signupForm.controls['email'].touched">                 
                </div>               

                <div class="col-12">
                  <label for="inputPassword" class="form-label">Password*</label>
                  <input type="password" class="form-control" id="inputPassword" name="password" #passwordInput
                  autocomplete="off"
                  [(ngModel)]="user.password" required validPassword
                  [class.invalid]="signupForm.controls['password'] && signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
                  <div *ngIf="signupForm.controls['password'] && signupForm.controls['password'].invalid && signupForm.controls['password'].touched" class="text-danger">
                    Password must be at least 6 characters and contain at least one number.
                  </div>
                </div>
                

                <div class="col-12">
                  <label for="inputName" class="form-label">Name*</label>
                  <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="user.name" required 
                  [class.invalid]="signupForm.controls['name'] && signupForm.controls['name'].invalid && signupForm.controls['name'].touched">                  
                </div>

                <div class="col-12">
                  <div>
                    <label for="inputPhone" class="form-label">Phone*</label>
                  </div>
                  <div>
                    <app-phone-input (countryChanged)="countryChanged($event)" (phoneNumberChanged)="phoneNumberChanged($event)"></app-phone-input>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="inputRegistrationType" class="form-label">I will be</label>
                  <select id="inputRegistrationType" class="form-select" [(ngModel)]="user.user_type" name="resgistrationType">
                    <option [ngValue]="'client'">Requesting Cleaning Services </option>
                    <option [ngValue]="'provider'">Providing Cleaning Services</option>
                  </select>
                </div>

                <div class="col-12" [class.d-none]="user.user_type === 'client'">
                  <label for="inputName" class="form-label">Postal Code</label>
                  <input type="text" class="form-control" name="location" [(ngModel)]="postalCode" 
                   id="inputPostalCode">     
                  <div class="form-text">
                    By sharing your postal code, customers around you will be able to find you more easily.
                  </div>             
                </div>

                <div class="col-12" [class.d-none]="user.user_type === 'provider'">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="address" 
                   id="inputAddress">     
                              
                </div>               
                
                
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="policyCheck" required name="polciCheck" [(ngModel)]="policyAgreed">
                    <label class="form-check-label" for="policyCheck">
                      I've read and I accept the <a href="#" (click)="openPrivacyPolicy(); $event.preventDefault()">Privacy Policy</a> and <a href="#" (click)="openTermsAndConditions();$event.preventDefault()">Terms of Service</a>
                    </label>
                  </div>
                </div>
    
                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="newsletterCheck">
                      <label class="form-check-label" for="newsletterCheck">
                        Sign me up for that awesome newsletter!
                      </label>
                    </div>
                  </div>
    
                <div class="col-12">
                  <button *ngIf="!loading;" type="button" class="btn btn-primary" (click)="signupClicked(signupForm)">Sign up</button>
                  <div class="loading-dots" *ngIf="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </form>
        </div>

        
    </div>
</div>

<ng-template #noLocationConfirmation let-modal>
	<div class="modal-header">
	  <h4 class="modal-title">Confirm Location</h4>
	  <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <p>Hmm .. it looks like Google has not yet updated its database with your postal code. We can register it as it is, or you can try to go back and update it. If you'd like, we can also help by trying to geolocate you. What would you like to do?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="locationOptions" id="register" [(ngModel)]="selectedLocationOption" value="register">
      <label class="form-check-label" for="flexRadioDefault1">
        Register my address as it is
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="locationOptions" id="update" checked [(ngModel)]="selectedLocationOption" value="update">
      <label class="form-check-label" for="flexRadioDefault2">
        Go back and update it
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="locationOptions" id="detect" [(ngModel)]="selectedLocationOption" value="detect">
      <label class="form-check-label" for="flexRadioDefault2">
        Try and geolocate me
      </label>
    </div>

    <div class="ok-button pt-2">
      <button class="btn btn-secondary" (click)="modal.close()">Ok</button>
    </div>
     
	</div>

  <div class="modal-footer">
	  <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Ok</button>
	</div>
  </ng-template>
