@import './assets/stylesheets/calendar.css';
@import '~font-awesome/css/font-awesome.css';
@import '~intl-tel-input/build/css/intlTelInput.css';

/* You can add global styles to this file, and also import other style files */
body {
    /* background-image: url('../src/assets/images/bubbles.jpg'); /* Replace with the path to your image */
    /* background-repeat: repeat;  /*Repeat the image vertically and horizontally */
    /* background-size: cover;  /* Set the size of the repeated images */
    /* Optional: Add other styles to customize the appearance */
    /* background-color: #F4E98C; yellow*/
    background-color: #76D7C4;
    font-size: small;
    /*background-color: #3498DB;;*/
  }

.container-fluid{
    padding: 0;
}

.invalid{
    border-color: red;
}

.dropdown-item{
    cursor: pointer;
}

.avatar-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc; /* You can choose a color that fits your design */
  }

  .iti__flag {background-image: url("intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("intl-tel-input/build/img/flags@2x.png");}
}
  
  
  
  
  
  


