@import './assets/stylesheets/calendar.css';
@import '~font-awesome/css/font-awesome.css';
@import '~intl-tel-input/build/css/intlTelInput.css';
@import './assets/stylesheets/bootstrap_customized.css';

/* You can add global styles to this file, and also import other style files */
body {
  /* background-image: url('../src/assets/images/bubbles.jpg'); /* Replace with the path to your image */
  /* background-repeat: repeat;  /*Repeat the image vertically and horizontally */
  /* background-size: cover;  /* Set the size of the repeated images */
  /* Optional: Add other styles to customize the appearance */
  /* background-color: #F4E98C; yellow*/
  /* background-color: #76D7C4;
    font-size: small; */
  /*background-color: #3498DB;;*/

  font-size: 18px;
  word-spacing: 1px;
  line-height: 26px;
  font-family: freightsans_regular, helvetica neue, helvetica, arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  color: #6b6b6b;
  height: calc(100vh - 50px);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.container-fluid {
  padding: 0;
}

.invalid {
  border-color: red;
}

.dropdown-item {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.no-click {
  pointer-events: none;
}

.avatar-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  /* You can choose a color that fits your design */
}

.iti__flag {
  background-image: url("intl-tel-input/build/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("intl-tel-input/build/img/flags@2x.png");
  }
}

.loading-dots div {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.4;
  animation: loading-dots 1.4s infinite both;
}

.loading-dots div:nth-child(1) {
  animation-delay: 0.2s;
}

.loading-dots div:nth-child(2) {
  animation-delay: 0.4s;
}

.loading-dots div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loading-dots {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-view-harness{
  min-height: 500px !important;
  font-size: xx-small !important;
}

.fc-event-start{
  padding:1px;
}

.fc-event-time{
  justify-content: center;
  display: flex;
  flex:1;
  font-weight: bold;
}

.fc-event-title{
  display:none;
}

.fc-daygrid-day-number{
  font-weight: bolder;
}
