<p>You can introduce custom directives for table headers to sort columns</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col" sortable="frequency" (sort)="onSort($event)">Frequency</th>
			<th scope="col" sortable="start_at" (sort)="onSort($event)">Start Date</th>
			<th scope="col" sortable="start_at" (sort)="onSort($event)">Start Time</th>
            <th scope="col">Provider</th>
            <th scope="col" sortable="rate" (sort)="onSort($event)">Hourly Rate</th>
            <th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let booking of bookings">
			<td>
				{{ getFrequency(booking.frequency) }}
			</td>
			<td>{{ booking.start_at | date:'dd MMM y'}}</td>
			<td>{{ booking.start_at | date:'h:mm a'}}</td>
            <td>{{ booking.provider.name }}</td>
            <td>{{ booking.rate }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Active
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item cursor-pointer" (click)="cancelBooking(booking.id)">Cancel</a></li>
                    </ul>
                  </div>
            </td>
		</tr>
	</tbody>
</table>

<ng-template #cancelConfirmation let-modal>
	<div class="modal-header">
	  <h4 class="modal-title">Cancel Booking</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <p>Are you sure you want to cancel this booking?</p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Cancel')">Cancel</button>
	  <button type="button" class="btn btn-danger" (click)="modal.close('Yes')">Yes, Cancel</button>
	</div>
  </ng-template>
