.fc-daygrid-day-number {
    color: grey !important;
    cursor: pointer;
}

.fc-event-start {
    background-color: grey;
    color: beige;
    cursor: pointer;
    padding: 5px;
}

.fc-col-header-cell-cushion {
    color: black;
}

.fc-daygrid-event-dot{
    border:unset;
    margin:0;
}

.fc-today-button{
    margin:0.5rem !important;
}

.fc-button{
    padding: 0.2rem 1rem !important;
    font-size: smaller !important;
}

.fc-toolbar-title{
    font-size: smaller !important;
}